.todoList {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 15px;
  &__item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid green;
    width: 100%;
    &_icons {
      display: flex;
      gap: 15px;
      align-items: center;
      img {
       cursor: pointer;
      }
    }
  }

}